@CHARSET "UTF-8";

#body_wrap { width:100%; margin-left:auto; margin-right:auto; padding:0px; }	
#main_wrap{width: 1050px; height:80px; margin-left: auto; margin-right: auto; border: 1px solid}
#middle_wrap { width:1050px; height:100%; padding:0px; margin-left:auto; margin-right:auto;}
#content_wrap { width:64%; border: 1px solid; float: left; margin: 0px;}
#chat_wrap{width:35%; height:600px; border: 1px solid; float: left; margin: 0px; padding: auto}
#openchat{width: 100%; height: 48%; border: 1px solid; margin-left: auto; margin-right: auto; margin-bottom: 4%}
#chatbot{width: 100%; height: 48%; border: 1px solid; margin-left: auto; margin-right: auto}
#mainLogo_wrap{float: left; width:33%;height:100%}
#mainLogo{width: 150px;height:30px; margin-left: 20px; margin-top: 25px}
#allSearch_wrap{float: left; width:33%;height:100%}
#allSearch{width: 220px;height: 30px;margin-left: auto; margin-right: auto; margin-top: 25px}
#menulist_wrap{float: left; width:34%; height:100%; font-size: 15px}
#menulist{width: 300px; height: 30px; margin-left: auto; margin-right: auto; margin-top: 25px}
#side_bar{width: 20%; height: 600px; float: left; border: 1px solid; margin: 0px}
#mycontent_wrap{width: 79%; float: left; border: 1px solid; margin-left: 5px}