<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="login_content">
			<form id="frm">
				<h1>Login Page</h1>
				<div class="login_input">
					<div class="_id">
						<input type="text" class="log_info" id="id" name="id"
							placeholder="Uername" required="required">
					</div>
					<div class="_saveId">
						<input type="checkbox" value="" id="chk_save_id">Save id
					</div>
					<div class="_pw">
						<input type="Password" class="log_info" id="pwd" name="pwd"
							placeholder="Password" required="required">
					</div>
					<button type="button" id="_btnLogin" class="btnclass">로그인</button>
				</div>
				<div class="pw_hint">
					<p class="hint-text">
						<a href="#">Forgot Password?</a>
					</p>
				</div>
				<div class="create_id">
					지금 부터 우리와 함께하기 <a href="/signupcontroller"><i>회원가입</i></a>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$("#_btnLogin").click(function() {
			let memberInfo = {
				id : $("#id").val(),
				pwd : $("#pwd").val()
			};

			$.ajax({
				url : "/logincontroller",
				type : "post",
				datatype : "json",
				data : memberInfo,
				async : true,
				success : function(data) {
					alert(data);
					location.href = "/bbslistcontroller";
				},
				error : function() {
					alert("error");
				}

			});

		});
	</script>
</body>
</html>

