<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign up</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="contents">

			<div class="_id">
				<h3>아이디</h3>
				<input type="text" id="id" name="id" maxlength="20">
				<button type="button" class="check_btn" id="check_id">중복
					확인</button>
				<p id="checkedId" style="height: 10px"></p>
			</div>
			<div class="_pw">
				<h3>비밀번호</h3>
				<input type="password" id="pwd" maxlength="20">
			</div>

			<div class="_name">
				<h3>이름</h3>
				<input type="text" id="name" maxlength="20">
			</div>

			<div class="checkEmail">
				<h3>이메일</h3>
				<input type="text" id="email" placeholder="선택입력" maxlength="100">
			</div>
			<br>

		</div>
		<div class='btn'>
			<button type="button" id="suBtn" class="signUpBtn">가입하기</button>
		</div>

	</div>
	<script type="text/javascript">
		$("#suBtn").click(function() { //버튼을 누르면 회원가입 진행 ajax 설명은 ajax설명 편 참고

			let member = {
				id : $("#id").val(),
				pwd : $("#pwd").val(),
				name : $("#name").val(),
				email : $("#email").val()
			};

			$.ajax({
				url : "/addMemcontroller",
				type : "post",
				data : member,
				datatype : "json",
				async : true,
				success : function(data) {
					alert(data);
					location.href="/"
				},
				error : function() {
					alert('error');
				}
			});
		});

		$("#check_id").click(function() { //버튼 클릭시 아이디 중복 확인
			$.ajax({
				url : "/checkidcontroller",
				type : "get",
				data : {
					id : $("#id").val()
				},
				success : function(data) {
					$("#checkedId").text(data);
				},
				error : function() {
					alert('error');
				}
			});
		});
	</script>

</body>
</html>
