<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.team.three.dao.mapper.PostDao">

	<select id="searchPostAll" resultType="Post">
		select POST_NO, CATEGORY, TITLE, NICKNAME, WRITE_DATE, UPDATE_DATE, CONTENTS, STEP, DEPTH, RE_NO FROM POST ORDER BY STEP DESC, DEPTH ASC	
	</select>
	
	<insert id="createPost" parameterType="Post">
		INSERT INTO POST(POST_NO, CATEGORY, TITLE, NICKNAME, WRITE_DATE, UPDATE_DATE, CONTENTS, STEP, DEPTH, RE_NO) 
		VALUES(POST_PLUS.NEXTVAL, #{category}, #{title} , #{nickName}, sysdate, sysdate, #{contents}, (SELECT NVL(MAX(step),0)+1 FROM POST) , 0, 0) 
	</insert>
	
 	<update id="answerUpdate"  parameterType="int">
		UPDATE POST SET DEPTH = DEPTH+1 WHERE STEP = (SELECT STEP FROM POST WHERE POST_NO = #{post_No}) AND DEPTH > (SELECT DEPTH FROM POST WHERE POST_NO = #{post_No})
	</update> 
	
	<insert id="answerInsert" parameterType="Post">
		INSERT INTO POST(POST_NO, CATEGORY, TITLE, NICKNAME, WRITE_DATE, UPDATE_DATE, CONTENTS, STEP, DEPTH, RE_NO) 
		VALUES(POST_PLUS.NEXTVAL, #{category}, #{title}, #{nickName}, sysdate, sysdate, #{contents},( SELECT STEP FROM POST WHERE POST_NO = #{post_No}), (SELECT DEPTH FROM POST WHERE POST_NO = #{post_No})+1,(SELECT RE_NO FROM POST WHERE POST_NO = #{post_No})+1) 
	</insert>
	
	<select id="searchPostByPost" resultType="Post" parameterType="int">
		select POST_NO, CATEGORY, TITLE, NICKNAME, WRITE_DATE, UPDATE_DATE, CONTENTS, STEP, DEPTH, RE_NO FROM POST WHERE POST_NO = #{post_No}	
	</select>

</mapper>
