<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Vaseline</display-name>
  <!-- filtering 방법 -->
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- WEB-INF 안에 폴더 생성시 접근 방법 -->
     <servlet>
    	<servlet-name>testtesttesttest</servlet-name>
    	<jsp-file>/WEB-INF/jsp/testtesttesttest.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>testtesttesttest</servlet-name>
    	<url-pattern>/2t</url-pattern>
    </servlet-mapping>
</web-app>