<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>empAll</h1>

	<table>
		<tr th:each="post : ${contents}">
			<td th:text="${post.post_No}"></td>
			<td th:text="${post.category}"></td>
			<td th:text="${post.title}"></td>
			<td th:text="${post.nickName}"></td>
 			<td th:text="${post.write_Date}"></td>
		 	<td th:text="${post.update_Date}"></td>
			<td th:text="${post.contents}"></td>
			<td th:text="${post.step}"></td>
			<td th:text="${post.depth}"></td>
			<td th:text="${post.re_No}"></td>
		</tr>
	</table>
	
</body>
</html>